@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700&display=swap');

.header {
    width: 100%;
    height: 60rem;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    text-align: left;
    box-sizing: border-box;
    background-color: #20183b;
    background-image: url(/img/header_bg.png);
    background-size: 100% 56rem;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 1rem 3rem;
}

.header__logo {
    width: 12rem;
    height: 1.6rem;
}

.header__list {
    width: 45%;
    height: 22rem;
    position: relative;
    top: 17rem;
    left: 3rem;
    box-sizing: border-box;
    background-color: #20183b;
    opacity: 0.6;
    padding: 1.2rem 5rem 1.2rem 0;
}

.list__item {
    font-family: 'Turret Road', cursive;
    color: #ffffff;
    opacity: 1;
    font-size: 1.2rem;
}

.header__register {
    box-sizing: border-box;
    width: 30%;
    position: absolute;
    text-align: left;
    top: 3rem;
    right: 1%;
    background-color: #ffffff;
    border: 0.5rem solid #cccccc;
    padding: 0.4rem;
    z-index: 0;
}

.register__item {
    font-family: 'Turret Road', cursive;
    color: #cccccc;
    opacity: 1;
    font-size: 1.2rem;
    margin-bottom: 5.5rem;
}

.register__input {
    width: 100%;
    height: 4rem;
}

.register__input--submit {
    border: none;
    background-color: #20183b;
    font-family: 'Turret Road', cursive;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.introduction {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: #B5B5B5;
    padding: 1rem;
    padding-bottom: 5rem;
    display: block;
    text-align: center;
    z-index: -1;
}

.introduction::after {
    content: " ";
    position: absolute;
    background-image: url(/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5%;
    height: 3rem;
    left: 48%;
    bottom: -1.5rem;
}

.introduction__title {
    box-sizing: border-box;
    font-family: 'Turret Road', cursive;
    color: #4F4F4F;
    font-size: 1.4rem;
}

.introduction__content {
    width: 65%;
    position: relative;
    left: 17.5%;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Turret Road', cursive;
    color: #4F4F4F;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.advice {
    width: 100%;
    display: block;
    text-align: center;
    margin: 8rem 0 15rem 0;
    padding: 1rem;
}

.advice__title {
    box-sizing: border-box;
    font-family: 'Turret Road', cursive;
    color: #2b165c;
    font-size: 1.4rem;
    font-weight: bold;
}

.advice__content {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    margin-top: 5rem;
}

.advice__box {
    padding: 3rem;
    overflow: hidden;
}

.box__image {
    width: 15%;
    height: 4rem;
}

.box__title {
    width: 100%;
    display: inline-block;
    font-family: 'Turret Road', cursive;
    font-weight: bold;
    color: #2b165c;
    font-size: 1.4rem;
}

.box__content {
    width: 70%;
    display: inline-block;
    font-family: 'Turret Road', cursive;
    text-align: justify;
    color: #2b165c;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    height: 15rem;
    border-top: 0.2rem solid #B5B5B5;
    text-align: center;
    padding: 1rem;
    font-family: 'Turret Road', cursive;
    color: #cccccc;
    opacity: 1;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
        align-items: center;
    }

    .header__list {
        width: 70%;
        overflow: visible;
        text-align: left;
        top: 2rem;
        left: 0;
        margin: auto;
    }

    .header__register {
        width: 70%;
        position: relative;
        top: 3rem;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .register__item {
        margin-bottom: 1rem;
    }

    .register__input {
        height: 2.8rem;
    }
}

@media screen and (max-width: 470px) {
    .header__list {
        width: 100%;
    }

    .header__register {
        width: 100%;
    }

    .introduction::after {
        bottom: -2rem;
    }
}

@media screen and (max-width: 360px) {
    .header {
        height: 78rem;
        background-size: 100% 74rem;
    }

    .header__list {
        height: auto;
    }
}